<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kare">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Funct.WeightLineActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Funct.HeightLineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Funct.Exam.GrowthtTestActivity" />
        <activity android:name=".Funct.Kid.EditKidsActivity" />
        <activity android:name=".Funct.Kid.SelectKidsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>